[Unit]
Description=Softether VPN Client service
After=network.target

[Service]
User=root
Group=root
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/vpnclient start
ExecStart=/usr/bin/sleep 5
ExecStart=/usr/sbin/dhclient -v vpn_<name>
ExecStart=/usr/sbin/ip r del default via 192.168.70.1 dev vpn_<name>
ExecStop=/usr/sbin/dhclient -r vpn_<name>
ExecStop=/usr/bin/vpnclient stop

[Install]
WantedBy=multi-user.target
